@model SessionDetailViewModel

    <h2 id="serie">This session contains @Model.Series.Count Series </h2>
    <div class="container-series">
        
            @*<h1>@Model.GetTotalNumOfHits(Model.Series)</h1>*@
        
            <div class="container-shotts">
                @foreach (var serie in Model.Series)
                {
                    <div class="shots">
                        <h3 id="stance">@serie.Stance </h3>
                        <div class="shot-5">
                            @foreach (var shot in serie.Shots)
                            {<div class="info-shot">
                                    <button id="shot" type="submit">@shot.Result</button>
                                    <p> <i class="fa fa-heartbeat" style="color:crimson"></i>@shot.HeartRate </p>
                           
                                    
                                </div>
                            }

                        
                        </div>


                    </div>

                }

            </div>
            </div>
          
        

    